<!DOCTYPE html>
<html>
<head>
    <title>Wild forest fires help</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="nav">
        <div class="container">
          <div class="title">    
              <h3>Wild forest fires help</h3>
            </div>    
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/wildfires">Wildfires</a></li>
                <li><a href="/help">What can you do</a></li>
                <li><a href="/emergency">Emergency</a></li>
                <li><a href="/report">Report Wildfires</a></li>
            </ul>
        </div>
    </div>
</body>
</html>